<!DOCTYPE html>
<html>
  <head>
    <title>MessageMe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body 
    class="object-contain overflow-hidden bg-center"
    style="background-image: url(<%= image_path "background" %>);"
  >
    <%= react_component("NavBar") %>
    <% flash.each do |type, msg| %>
      <div class="w-full bg-blue-400 text-black flex justify-center italic font-medium">
        <%= msg %>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
